html {
    height: 100%;
    width: 100%;
}

.boxed {
    box-sizing: border-box;
    position: absolute;
    width: 782px;
    height: 173px;
    left: 329px;
    top: 130px;
    background: rgba(217, 217, 217, 0.8);
    mix-blend-mode: exclusion;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    color: #FFFFFF;
    }

.main_body {
    background-image: url(./img/kndtreehouse.jpg);
    background-size: cover;
    contain: content;
    background-repeat: no-repeat;
    background-position: center;
    display: block; 
    color: #ffffff;
    width: 100%;
    height: 700px;
  }

.main_title {
    position: absolute;
    width: 782px;
    height: 173px;
    left: 329px;
    top: 130px;
    text-align: center;
    font-family: 'Aura';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
}

.main_content {
    position: absolute;
    width: 399px;
    height: 37px;
    left: 515px;
    top: 340px;
    text-align: center;
    justify-content: center;
    font-weight: 500;
    font-size: 40px;
    font-family:  'Aura';
}

.select_cipher  {
    box-sizing: border-box;
    position: absolute;
    width: 306px;
    height: 188px;
    left: 221px;
    top: 465px;
    background: rgba(217, 217, 217, 0.8);
    mix-blend-mode: exclusion;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    transition: 0.3s;
    cursor: pointer;
}

.select_cipher:hover{
    background: #cec0fc;
}

.cifrar {
    position: absolute;
    width: 110px;
    height: 37px;
    left: 319px;
    top: 500px;
    font-family: 'Aura';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}


.select_decipher{
    position: absolute;
    width: 306px;
    height: 188px;
    left: 914px;
    top: 465px;
    background: rgba(217, 217, 217, 0.8);
    mix-blend-mode: exclusion;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    transition: 0.3s;
    cursor: pointer;
}

.descifrar{
    position: absolute;
    width: 187px;
    height: 37px;
    left: 973px;
    top: 500px;
    font-family: 'Aura';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.select_decipher:hover{
    background: #cec0fc;
}